bt_imu_node:
  ros__parameters:
    NOTIFY_UUID: "0000ffe4-0000-1000-8000-00805f9a34fb"
    START_BYTE: 0x55
    FLAG_IMU: 0x61
    FRAME_LEN: 28
    G_SCA: 156.8
    GYRO_SCA: 2000
    EULER_SCA: 180
    BT_ANGLE: "SMX/BTAngle"
    BT_IMU: "SMX/BTIMU"
    WTSDCL: "WTSDCL"
    bt_imu_link: "bt_imu_link"

control_loop_node_250517:
  ros__parameters:
    # 输入话题名
    TARGET_ANGLE_TOPIC:  "SMX/BTAngle"
    ANGLE_ERROR_TOPIC:   "SMX/TargetImageAngle"
    VEHICLE_ANGLE_TOPIC: "SMX/Odom"
    GIMBAL_ANGLE_TOPIC:  "SMX/GimbalState"
    ANGLE_RESET_TOPIC:   "SMX/SportCmd"
    # 输出话题名
    VEHICLE_CMD_TOPIC:   "SMX/SportCmd"
    GIMBAL_CMD_TOPIC:    "SMX/SportCmd"

control_message_node:
  ros__parameters:
    joy_topic: "/joy"
    sport_cmd_topic: "SMX/SportCmd"
    # 如果报错 Permission denied 则 sudo usermod -aG input $USER 再reboot
    # wasd 上下左右 Alt Space J K L ; 对应8个Axes，1~8对应8个Button
    Keyboard2Joystick_Enable: true
    keyboard_cmd_rate_hz: 20.0

drone_estimator_node:
  ros__parameters:
    input_obs_topic: /SMX/YOLO_Targets
    output_state_topic: /SMX/DroneStateEstimate2
    score_threshold: 1.0
    g: 9.8
    drag_k: 0.0123
    c_int: 81.3
    parent_frame_id: "map"
    child_frame_id: "uav_offline"
    rviz_mesh_resource: "/home/unitree/ros2_ws/LeggedRobot/src/Ros2Tools/drone_estimator/src/Drone.STL"
    rviz_scale: [0.003, 0.003, 0.003]
    rviz_color: [1.0, 1.0, 0.0, 1.0]
    rviz_ns: "drone_estimator_offline"

rosbagtopic_rename_node:
  ros__parameters:
    # 输入包：就是 ros2 bag info 里看到的那个目录（不是 .db3 文件）
    input_bag: "/home/unitree/ros2_ws/LeggedRobot/src/Ros2SLAM/local/go2_slam_bag"
    # 输出包目录：脚本会创建一个新的 bag（如果已经存在就报错退出）
    output_bag: "/home/unitree/ros2_ws/LeggedRobot/src/Ros2SLAM/local/go2_slam_bag_0"
    # 多个 topic 的映射表：旧名 -> 新名
    topic_mappings:
      "/SMX/Go2Lidar": "/points2"
      "/SMX/Go2IMU":   "/imu"
      "/SMX/Odom":     "/odom"
    overwrite: true